
body {
    background-color: black;
}

.container {
    margin-bottom: 50px;
}

#nav-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-6 {
    border: 3px dashed #fff;
    padding-top: 20px;
}

#title {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(172, 188, 143, 0.815);
    font-style: italic;
    font-size: 200%;
    font-weight: 900;
}

#brief {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-style: italic;
    font-weight: 500;
}

#wrong-guess {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-style: italic;
    font-weight: 500;
}

#message {
    text-align: center;
    border-top: 50px;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(87, 85, 209, 0.808);
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
}

#image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#underscore {
    color: aliceblue;
    text-align: center;
    font-size: 80px;

}

#wrong-guess {
    color: aliceblue;
}